<div style="margin: 15px 15px 15px 0; padding: 10px; background-color: black; color: black; border-radius: 3px; text-align: center;">
	<%= image_tag 'mentions_no4.png', :style=> "width: 170px;" %>
	<p class="customfont-2" style="color:white; font-size: 72px; font-weight:200; margin: 0 !important;"><%= @snaps.count %></p>
</div>