<% if @snaps.empty? %>
	<img class="toAdd" src="http://malsup.github.com/images/beach1.jpg" width="200" height="200" />
	<img class="toAdd" src="http://malsup.github.com/images/beach2.jpg" width="200" height="200" />
	<img class="toAdd" src="http://malsup.github.com/images/beach3.jpg" width="200" height="200" />
	<img class="toAdd" src="http://malsup.github.com/images/beach4.jpg" width="200" height="200" />
	<img class="toAdd" src="http://malsup.github.com/images/beach5.jpg" width="200" height="200" />
<% else %>
	<% @snaps.each do |s| %>
		<% if s.media_type == "image" %>
			<img class="toAdd" src=<%= s.media_url %> width="400" height="400" />
		<% elsif s.media_type == "video" %>
			<video class="toAdd" class="video" width="400" height="400" autoplay loop>
			    <source id=<%= s.media_id %> src=<%= s.media_url %> type="video/mp4">
			    Your browser does not support the video tag or the file format of this video.
			</video>
		<% elsif s.media_type == "tweet" %>
			<div class="toAdd" ><p><%= s.caption %></p></div>
		<% end %>
	<% end %>
<% end %>
