<h1>Snaps#index</h1>
<p>Find me in app/views/snaps/index.html.erb</p>

<p><a href="/oauth/connect">Connect with Instagram</a></p>

<p><%= link_to "Make a Tweet!", controller: "twitter", action: "user_tweet" %></p>

<% if @access_token %>
	<p><%= @access_token.inspect %></p>
<% end %>
