// Place all the styles related to the snaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { background-image: asset-data-url('dream_bg.jpg'); background-size: cover; }

.slideshow { height: 600px; width: 600px;
  margin: auto;
  position: absolute;
  top: -20px; left: 0; bottom: 0; right: 0; }
.slideshow img { padding: 15px; border-radius: 3px; background-color: #000; }