// Place all the styles related to the snaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { background-image: asset-data-url('dream_bg.jpg'); background-size: cover; }

// .main-table tr td.first-column {
  // width: 600px;
  // padding: 0;
// }
// 
// .main-table tr td.second-column tr.hashtag-container {
   // width: 100px; height:100px; background-color: blue;
// }

// .slideshow { height: 600px; width: 600px;
  // margin: auto;
  // position: absolute;
  // top: -20px; left: 0; bottom: 0; right: 0; }
 .slideshow img { border-radius: 3px; background-color: #000; }
 .slideshow div { border-radius: 3px; background-color: #000; }

div.wrapper{  
    float:left; /* important */  
    position:relative; /* important(so we can absolutely position the description div */  
}  
div.description{  
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:0px; /* position will be on bottom */  
    left:0px;  
    width:100%;  
    /* styling bellow */  
    background-color:black;  
    font-family: 'tahoma';  
    font-size:15px;  
    color:white;  
    opacity:0.6; /* transparency */  
    filter:alpha(opacity=60); /* IE transparency */  
}  
p.description_content{  
    padding:15px;  
    margin:0px;  
}  