<!DOCTYPE html>
<html>
<head>
  <title>SnapHub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
  <%= csrf_meta_tags %>
  <!-- include jQuery library -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <!-- include Cycle plugin -->
  <!-- ><script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script> -->
  <%= javascript_include_tag "jquery.cycle.all.js" %>
</head>
<body>

<%= yield %>

</body>
</html>
